@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Clash Display';
    src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Neue Power Variable';
    src: url('/fonts/NeuePowerVariable-Ultra.woff2') format('woff2');
    
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;   
}

.custom-progress-bar::-webkit-progress-value {
    background-color: #484848;
  }
  