@font-face {
	font-family: 'ClashDisplay';
	src: url('/fonts/ClashDisplay-Variable.woff2');
	font-style: normal;
	font-weight: 200 700;
}

@font-face {
	font-family: 'NeuePowerVariable';
	src: url('/fonts/NeuePowerVariable-Ultra.woff2');
	font-style: normal;
	font-weight: 200 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width:100vw;
    overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

.custom-progress-bar::-webkit-progress-value {
	background-color: #484848;
}

.grid-container {
	grid-template-columns: 1.25fr 0.75fr 1fr;
}
